<ion-header>
  <ion-toolbar color="AIRTIME">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{data.menuInfo?.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-button>
          {{dataService.amount | currency : "R "}}
        </ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="(summary.purchaseType | keyvalue)?.length>2 && screen!='Summary'">
    <ion-item lines="none">
      <ion-label>{{data.purchaseTypeSection?.title}}</ion-label>
      <ion-text slot="end">{{summary.purchaseType?.name}}</ion-text>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="screen == 'Product-Types'">
    <ion-item lines="none">
      <ion-label>{{data.purchaseTypeSection?.title}}</ion-label>
      <ion-text slot="end">-</ion-text>
    </ion-item>

    <ion-grid class="purchaseTypeSection">
      <ion-row>
        <ion-col sizeXs="6" *ngFor="let types of data.purchaseTypeSection?.purchaseTypes" (click)="purchaseType(types)">
          <div class=inner_div *ngIf="types.name !='eeziAirtime'">
            {{types.name}}
          </div>
          <div class=inner_div *ngIf="types.name =='eeziAirtime'">
            <img src="/assets/img/{{types.iconName}}.png" alt="{{types.name}}">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- Provider section -->
  <ion-card *ngIf="(summary.provider | keyvalue)?.length>2 && screen!='Summary'">
    <ion-item lines="none">
      <ion-label>{{data.providerSection?.title}}</ion-label>
      <ion-text slot="end">{{summary.provider?.name}}</ion-text>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="screen == 'Provider'">
    <ion-item lines="none">
      <ion-label>{{data.providerSection?.title}}</ion-label>
      <ion-text slot="end">-</ion-text>
    </ion-item>

    <ion-grid class="providerSection">
      <ion-row>
        <ion-col sizeXs="6" *ngFor="let types of data.providerSection?.serviceProviders">
          <div class=inner_div (click)="provider(types)">
            <img src="/assets/img/{{types.icon.defaultIconName}}.png" alt="{{types.name}}">
          </div>
        </ion-col>
        
      </ion-row>
    </ion-grid>

  </ion-card>

  <!-- Amount section -->
  <ion-card *ngIf="productAmount !=null && screen!='Summary'">
    <ion-item lines="none">
      <ion-label>Amount</ion-label>
      <ion-text slot="end"> {{productAmount/100 | currency : "R "}}</ion-text>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="screen == 'Amount'">
    <ion-item lines="none">
      <ion-label>Amount</ion-label>
      <ion-text slot="end">-</ion-text>
    </ion-item>

    <ion-grid class="amountSection">
      <ion-row class="preDefinedAmount">
        <ion-col sizeXs="4" *ngFor="let Items of summary.product.preDefinedAmount?.fixedAmountItems"
          (click)="productFuntion(Items)">
          <div class=inner_div>
            {{Items.amountInCents/100 | currency : "R "}}
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="summary.purchaseType.id !=1">
        <ion-col class="ownAmount" (click)="selectOwnAmount()">
          SELECT OWN AMOUNT
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- Cellnumber section -->
  <ion-card *ngIf="screen == 'Cellphone'">
    <ion-item lines="none" (click)="cellphone()">
      <ion-label>Cellphone Number</ion-label>
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
    </ion-item>
  </ion-card>

  <!-- Summary section -->
  <div *ngIf="screen =='Summary'" class="summary">
    <ion-list lines="full">
      <ion-item>
        <ion-label style="text-align: center;">Summary</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{data.purchaseTypeSection?.title}}</ion-label>
        <ion-text slot="end">{{summary.purchaseType.name}}</ion-text>
      </ion-item>
      <ion-item *ngIf="summary.purchaseType.id<=2">
        <ion-label>{{data.providerSection?.title}}</ion-label>
        <ion-text slot="end">{{summary.provider?.name}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Amount</ion-label>
        <ion-text slot="end"> {{productAmount/100 | currency : "R "}}</ion-text>
      </ion-item>

      <ion-item lines="none" *ngIf="summary.purchaseType.id ==2">
        <ion-label>Cellphone Number</ion-label>
        <ion-text slot="end">{{this.phoneFormat(summary.cellphone)}}</ion-text>
      </ion-item>

    </ion-list>
  </div>


</ion-content>
<ion-footer class="ion-no-border ion-no-shadow">
  <ion-grid>
    <ion-row>
      <ion-col (click)="sell()">
        <ion-button expand="full" color="dark" [disabled]="!summary.availableDoneActions.appendAmount">
          <span class="ion-text-center">   {{summary.availableDoneActions?.name}} </span>
        
          <span class="ion-text-right"> 
            <i class="fas fa-angle-double-right"></i></span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>